-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: db_diapra_2026
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `berita_acara`
--

DROP TABLE IF EXISTS `berita_acara`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `berita_acara` (
  `id` int NOT NULL AUTO_INCREMENT,
  `no_agenda` varchar(100) DEFAULT NULL,
  `no_berita_acara` varchar(100) DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `nama_perusahaan` varchar(255) DEFAULT NULL,
  `tanggal_serah_terima` date DEFAULT NULL,
  `uraian` text,
  `nilai_pengadaan` varchar(255) DEFAULT NULL,
  `diinput_oleh` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `berita_acara`
--

LOCK TABLES `berita_acara` WRITE;
/*!40000 ALTER TABLE `berita_acara` DISABLE KEYS */;
/*!40000 ALTER TABLE `berita_acara` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daftar_arsip_vital`
--

DROP TABLE IF EXISTS `daftar_arsip_vital`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daftar_arsip_vital` (
  `id` int NOT NULL AUTO_INCREMENT,
  `jenis_arsip` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `tingkat_perkembangan` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `kurun_waktu` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `media` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `jumlah` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `jangka_simpan` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `lokasi_simpan` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `metode_perlindungan` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `keterangan` text COLLATE utf8mb4_general_ci,
  `diinput_oleh` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daftar_arsip_vital`
--

LOCK TABLES `daftar_arsip_vital` WRITE;
/*!40000 ALTER TABLE `daftar_arsip_vital` DISABLE KEYS */;
/*!40000 ALTER TABLE `daftar_arsip_vital` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disposisi`
--

DROP TABLE IF EXISTS `disposisi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `disposisi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_surat_masuk` int NOT NULL,
  `tujuan_bidang` varchar(100) NOT NULL,
  `isi_disposisi` text NOT NULL,
  `sifat` varchar(50) NOT NULL,
  `batas_waktu` date DEFAULT NULL,
  `catatan` text,
  `file_disposisi` varchar(255) DEFAULT NULL,
  `status_baca` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_surat_masuk` (`id_surat_masuk`),
  CONSTRAINT `fk_disposisi_surat` FOREIGN KEY (`id_surat_masuk`) REFERENCES `surat_masuk` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disposisi`
--

LOCK TABLES `disposisi` WRITE;
/*!40000 ALTER TABLE `disposisi` DISABLE KEYS */;
/*!40000 ALTER TABLE `disposisi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kadis`
--

DROP TABLE IF EXISTS `kadis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kadis` (
  `no` int NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) NOT NULL,
  `pangkat` varchar(255) NOT NULL,
  `NIP` varchar(255) NOT NULL,
  PRIMARY KEY (`no`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kadis`
--

LOCK TABLES `kadis` WRITE;
/*!40000 ALTER TABLE `kadis` DISABLE KEYS */;
INSERT INTO `kadis` VALUES (1,'Drs. M. HELFIANNOOR, M.Si','Pembina Utama Muda','19730719 199302 1 002');
/*!40000 ALTER TABLE `kadis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pernyataan_verifikasi_bmd`
--

DROP TABLE IF EXISTS `pernyataan_verifikasi_bmd`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pernyataan_verifikasi_bmd` (
  `id` int NOT NULL AUTO_INCREMENT,
  `no_surat_pernyataan` varchar(100) DEFAULT NULL,
  `tgl` date DEFAULT NULL,
  `no_pesanan_kontrak` varchar(100) DEFAULT NULL,
  `tgl_pesan_kontrak` date DEFAULT NULL,
  `nilai_pesanan_kontrak` varchar(255) DEFAULT NULL,
  `nama_perusahaan` varchar(255) DEFAULT NULL,
  `no_bast` varchar(100) DEFAULT NULL,
  `tgl_bast` date DEFAULT NULL,
  `diinput_oleh` bigint NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_pernyataan_diinput_oleh` (`diinput_oleh`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pernyataan_verifikasi_bmd`
--

LOCK TABLES `pernyataan_verifikasi_bmd` WRITE;
/*!40000 ALTER TABLE `pernyataan_verifikasi_bmd` DISABLE KEYS */;
/*!40000 ALTER TABLE `pernyataan_verifikasi_bmd` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spj_umpeg`
--

DROP TABLE IF EXISTS `spj_umpeg`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `spj_umpeg` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nomor_urut` int NOT NULL,
  `nomor_spj` varchar(50) NOT NULL,
  `tanggal` date NOT NULL,
  `nama_kegiatan` varchar(255) NOT NULL,
  `dibuat_oleh` varchar(100) NOT NULL,
  `file_spj` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spj_umpeg`
--

LOCK TABLES `spj_umpeg` WRITE;
/*!40000 ALTER TABLE `spj_umpeg` DISABLE KEYS */;
/*!40000 ALTER TABLE `spj_umpeg` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `surat_cuti`
--

DROP TABLE IF EXISTS `surat_cuti`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `surat_cuti` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_user` bigint DEFAULT NULL,
  `Nama/NIP` varchar(100) NOT NULL,
  `Pangkat/GOL RUANG` varchar(25) NOT NULL,
  `Jabatan` varchar(255) DEFAULT NULL,
  `Jenis Cuti` varchar(20) NOT NULL,
  `Lamanya` varchar(11) NOT NULL,
  `Dilaksanakan DI` varchar(20) NOT NULL,
  `Mulai Cuti` int NOT NULL,
  `Sampai Dengan` int NOT NULL,
  `Sisa Cuti` varchar(11) NOT NULL,
  `file_surat` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_surat_cuti_user` (`id_user`),
  CONSTRAINT `fk_surat_cuti_user` FOREIGN KEY (`id_user`) REFERENCES `user` (`no`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `surat_cuti`
--

LOCK TABLES `surat_cuti` WRITE;
/*!40000 ALTER TABLE `surat_cuti` DISABLE KEYS */;
/*!40000 ALTER TABLE `surat_cuti` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `surat_keluar`
--

DROP TABLE IF EXISTS `surat_keluar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `surat_keluar` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_user` bigint DEFAULT NULL,
  `nomor_urut` int NOT NULL,
  `nomor_surat` varchar(255) NOT NULL,
  `tujuan_surat` varchar(255) NOT NULL,
  `tanggal_surat` date NOT NULL,
  `perihal` text NOT NULL,
  `dibuat_oleh` varchar(100) NOT NULL,
  `file_surat` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_surat_keluar_user` (`id_user`),
  CONSTRAINT `fk_surat_keluar_user` FOREIGN KEY (`id_user`) REFERENCES `user` (`no`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `surat_keluar`
--

LOCK TABLES `surat_keluar` WRITE;
/*!40000 ALTER TABLE `surat_keluar` DISABLE KEYS */;
/*!40000 ALTER TABLE `surat_keluar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `surat_masuk`
--

DROP TABLE IF EXISTS `surat_masuk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `surat_masuk` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_user` bigint DEFAULT NULL,
  `nomor_agenda` varchar(100) NOT NULL,
  `tanggal_terima` date NOT NULL,
  `alamat_pengirim` varchar(255) NOT NULL,
  `tanggal_surat` date NOT NULL,
  `nomor_surat` varchar(255) NOT NULL,
  `perihal` text NOT NULL,
  `file_surat` varchar(255) DEFAULT NULL,
  `sifat_surat` varchar(100) DEFAULT NULL,
  `tujuan_disposisi` text,
  `instruksi_disposisi` text,
  `catatan_disposisi` text,
  `status_disposisi` varchar(50) NOT NULL DEFAULT 'Belum diproses',
  `dilihat_oleh` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `file_disposisi` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_surat_masuk_user` (`id_user`),
  CONSTRAINT `fk_surat_masuk_user` FOREIGN KEY (`id_user`) REFERENCES `user` (`no`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `surat_masuk`
--

LOCK TABLES `surat_masuk` WRITE;
/*!40000 ALTER TABLE `surat_masuk` DISABLE KEYS */;
/*!40000 ALTER TABLE `surat_masuk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `no` bigint NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) NOT NULL,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('super_admin','admin','user') NOT NULL DEFAULT 'user',
  `nama_bidang` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`no`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-10 18:21:37
